.nav {
    position: relative;
    padding: 0 6rem 0 6rem;
    font-size: 95%;
    margin: 0 1.8rem 0 1.8rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.3px solid rgb(230, 230, 230);
    line-height: 50%;
}

.nav #marker {
    position: absolute;
    height: 5px;
    background-color: black;
    left: 0;
    width: 0;
}

.currentItem {
    color: black;
}

.item {
    color: rgb(170, 170, 170);
}

.item:hover {
    color: rgba(23, 100, 178, 0.826);
    cursor: pointer;
}